dist: trusty
group: edge
os:
    - linux
    # travis does not support python on osx yet (https://github.com/travis-ci/travis-ci/issues/4729)
language: python
python:
    - "3.6"
before_install:
    # upgrade docker so that it has same API version as client https://docs.travis-ci.com/user/docker/ 
    - sudo apt-get update
    - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
    - sudo apt-get install
    # install anaconda Python 3
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then  wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh; fi
    #- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then wget  https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh; fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    # Useful for debugging any issues with conda
    - conda info -a

    # downgrade python if needed
    - conda create -n python_test python=$TRAVIS_PYTHON_VERSION anaconda
    - source activate python_test

    # add docker
    - pip install docker
    # packages required by SoS
    - pip install pyyaml psutil tqdm
    - pip install fasteners pygments networkx pydot pydotplus 
    # https://github.com/jupyter/jupyter/issues/150
    - pip install entrypoints jupyter coverage codacy-coverage pytest pytest-cov python-coveralls
    - conda install pandas numpy

sudo: required
services:
    - docker
install: "python setup.py install"
before_script:
    - cd test
    - sh build_test_docker.sh
script:
    - pytest -x -v --cov sos --cov-config ../.coveragerc --cov-report=xml;

after_success:
    - coverage combine;
    - coveralls

notifications:
    email:
        recipients:
            - ben.bob@gmail.com
        on_success: never
        on_failure: always

