include LICENSE
include README.md
include sos
include sos-runner
recursive-include examples *.sos *.ipynb
recursive-include pysos *.py
include misc/sos.vim
include misc/sos_ipython_profile.py
include misc/sos_codemirror.js
include misc/sos_magic.py
