include LICENSE
include README.md
include setup.py
recursive-include src *.py *.js *.tpl *.m
recursive-include misc *.vim *.py *.js *.png
recursive-include test *.vim *.py *.js
recursive-include docs/src *.ipynb *.png *.jpg *.sos
prune */.sos
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .ipynb_checkpoints
