
table {
  /* margin-left: auto; */
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 1em 2em;
}
td,
th {
  text-align: left;
  vertical-align: middle;
  padding: 4px;
}
th {
  font-weight: bold;
}
* + table {
  margin-top: 1em;
}
